.imagen{
    width: 450px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 20px;
    box-shadow: 7px 13px 38px #1F3D47;
}

.TablaProdc{
    display: flex;
    margin-left: 420px;
}

.tituloProduct{
    margin-left: 40px;
    font-size: xxx-large;
}

.tituloServs{
    margin-left: 40px;
    font-size: xxx-large;
}

.texto{
    font-size: x-large
}