.header {
    display: grid;
    grid-template-columns: 50px 1fr; /* Estructura de columnas */
    justify-content: start; /* Alineación a la izquierda */
    width: auto; /* Ancho automático */
    margin: 0; /* Sin margen */
    background-color: #1F3D47; /* Color de fondo */
    position: relative; /* Posición relativa */
    padding: 10px; /* Espacio interno */
}

.logo {
    width: 150px; /* Ancho del logo */
    height: 150px; /* Altura del logo */
    margin-left: 20px; /* Margen izquierdo */
}

.tituloH {
    margin-left: auto; /* Empuja el título a la derecha */
    font-size: 40px; /* Tamaño de fuente */
    color: #d5dbdd; /* Color del texto */
    display: flex; /* Flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente */
    animation: fadeIn 1s ease-in-out; /* Aplica la animación */
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
        transform: translateY(-10px); /* Se mueve un poco hacia arriba */
    }
    to {
        opacity: 1; /* Termina visible */
        transform: translateY(0); /* Regresa a su posición original */
    }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .header {
        grid-template-columns: 50px 1fr; /* Ajusta la estructura a una sola columna */
        padding: 5px; /* Reduce el padding */
    }

    .logo {
        width: 120px; /* Ajusta el tamaño del logo para pantallas pequeñas */
        height: 120px; /* Ajusta la altura del logo */
        margin-left: 10px; /* Reduce el margen izquierdo */
    }

    .tituloH {
        margin-left: 0; /* Elimina el margen izquierdo en móviles */
        text-align: center; /* Centra el título */
        font-size: 28px; /* Reduce el tamaño de fuente para móviles */
    }
}

@media (max-width: 480px) {
    .tituloH {
        font-size: 24px; /* Reduce aún más el tamaño de fuente para móviles pequeños */
    }
}
